<h3>diskSpace</h3>
<div>
  <span>Status:</span>&nbsp;<span>{{diskSpace.status}}</span>
</div>
<div>
  <span>totalBytes:</span>&nbsp;<span>{{diskSpace.totalBytes}}</span>
</div>
<div>
  <span>freeBytes:</span>&nbsp;<span>{{diskSpace.freeBytes}}</span>
</div>
<div>
  <span>threshold:</span>&nbsp;<span>{{diskSpace.threshold}}</span>
</div>
