<div>
    <span>PATH:</span>&nbsp;<span>{{env.path }}</span>
</div>
<div>
    <span>NLSPATH:</span>&nbsp;<span>{{env.nlsPath }}</span>
</div>
<div>
    <span>TERM:</span>&nbsp;<span>{{env.term }}</span>
</div>
<div>
    <span>PWD:</span>&nbsp;<span>{{env.pwd }}</span>
</div>
