<h2>Log Dashboard</h2>

<div>
  {{input value=fullUrl key-up=(action 'changeUrl') }}
</div>
{{#bs-nav type="pills" justified=true as |nav|}}
  {{#nav.item}}{{#nav.link-to "health"}}Health{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "env"}}Environment{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "metric"}}Metrics{{/nav.link-to}}{{/nav.item}}
{{/bs-nav}}
{{outlet}}
