Health

<div>
    <span>Status:</span>&nbsp;<span>{{model.status}}</span>

    <h2>Disk Space</h2>
    <span>Status:</span>&nbsp;<span>{{model.diskSpace.status }}</span>
    {{model.diskSpace.totalBytes }}
</div>
