<div class = "healthmodule">

  <h2>Health</h2>

  <div class="data">
    <strong>Status:</strong>
  </div>

  <div class="data">
    <strong>DiskSpace:</strong>
  </div>

  <div class="data">
    <strong>Total:</strong>
  </div>

  <div class="data">
    <strong>Free: </strong>
  </div>

  <div class="data">
    <strong>Threshold: </strong>
  </div>
</div>
