<h2>Health</h2>

{{#health-diskspace-display diskSpace=model.diskSpace}}
{{/health-diskspace-display}}

{{#health-elasticsearch-display elasticSearch=model.diskSpace}}
{{/health-elasticsearch-display}}
