<h2>Health</h2>

  {{#each model as |health|}}
  <div class="data">
    <strong>Status:</strong> {{health.status}}
  </div>

  <div class="data">
    <strong>DiskSpace:</strong>
  </div>

  <div class="data">
    <strong>Total:</strong> {{health.total}}
  </div>

  <div class="data">
    <strong>Free: </strong> {{health.free}}
  </div>

  <div class="data">
    <strong>Threshold: </strong>
  </div>

{{/each}}
