<h2>ENV</h2>
<div>
    <span>PATH:</span>&nbsp;<span>{{model.path }}</span>
</div>
<div>
    <span>NLSPATH:</span>&nbsp;<span>{{model.nlsPath }}</span>
</div>
<div>
    <span>TERM:</span>&nbsp;<span>{{model.term }}</span>
</div>
<div>
    <span>PWD:</span>&nbsp;<span>{{model.pwd }}</span>
</div>
